@model WebShop.Web.Models.FooterViewModel
<div class="footer">
    <div class="footer-top">
        <div class="container">
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
           @Html.Raw(Model.Content)
            @ViewBag.Time
        </div>
    </div>
</div>
